<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Processing Output</title>
</head>
<body>
    <h1>Audio Processing Output</h1><br>
    <audio controls>
        <p>original audio file: </p>    <source src="{{ url_for('static', filename='uploads/uploaded_audio.wav') }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <p>Original audio file speech to text: {{ originaltext }}</p><br>
    <p>Processed audio file Summary: {{ filename }}</p>
</body>
</html>
